div.menu-component{
  position: fixed;
  z-index: 100;
}
.menu-component{
left: 20px;
}
nav.navbar {
margin: 0;
display: flex;
justify-content: center;
}

.menu-bar {
border-radius: 36px;
height:max-content;
width: 55px;
display: inline-flex;
background: linear-gradient(to right,#52b1ff,#358ff5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
align-items: center;
padding: 0 24px;
margin: 20px 0 0 0;
}
.menu-bar li {
list-style: none;
color: white;
font-family: sans-serif;
font-weight: bold;
padding: 12px 16px;
margin: 0 8px;
position: relative;
cursor: pointer;
white-space: nowrap;
}
.menu-bar li::before {
content: " ";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: -1;
transition: 0.2s;
border-radius: 25px;
}
.menu-bar li:hover {
color: #236fda;
}
.menu-bar li:hover::before {
background: linear-gradient(to bottom, #fafffe, #f1f1f1);
box-shadow: 1px 1px 6px 0.5px rgba(0, 0, 0, 0.5);
transform: scale(1.2);
}
.nav-link{
text-decoration: none;
}
@media only screen and (max-width: 900px) {
nav.navbar{
  justify-content: right;
}
.menu-bar{
  align-items: center;
}
.menu-component{
  left: 10px;
}
}

