.element-wrap{
  margin: 0 auto;
  width: 400px;
  background: white;
  margin-top: 60px;
  padding: 20px 15px;
  border-radius: 20px;
  border: 0.5px solid rgba(0,0,0,0.2);
  /* padding-left: 35px; */
}
.elements{
  padding: 10px;
  margin-bottom: 30px;
  text-align: left;
  cursor: pointer;
  /* border-left: 5px solid #3a7bd5; */
}
.elements:hover{
  background-color: rgba(2, 158, 247, 0.2);
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
.element-wrap{
  width: 300px;
}
}
@media only screen and (max-width: 550px) {
  .element-wrap{
    width: 90%;
  }
}